* {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-family: "Noto";
}

* a {
  text-decoration: none;
  color: inherit;
}

.Intro {
  position: relative;
  width: 1200px;
  height: 500px;
  margin-top: 200px;
}

.Intro > p {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px gray;
}

.Intro > ul {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px;
  height: 200px;
  display: flex;
}

.Intro > ul > li {
  width: 45%;
  height: 198px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  line-height: 198px;
}

.Intro > ul > li:hover {
  box-shadow: 5px 5px 5px 5px gray;
  cursor: pointer;
  font-weight: bold;
}

.Intro > ul > li > p {
  font-size: 3em;
}

@font-face {
  font-family: "Noto";
  src: url("./fonts/NotoSansKR-Regular.otf");
}
